<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>{{title}}</title>
    {{#css}}
        <link rel="stylesheet" href="{{.}}">
    {{/css}}
    {{#scripts}}
        <script src="{{.}}"></script>
    {{/scripts}}
    {{#webComponents}}
        <link rel="import" href="/bower_components/{{.}}/{{.}}.html"><!-- here -->
    {{/webComponents}}
    {{#appComponents}}
        <link rel="import" href="/app_components/{{.}}.html">
    {{/appComponents}}
</head>
<body class="fullbleed fit layout vertical">
<paper-scroll-header-panel class="flex">
    {{>partials/navbar }}
    <div content>
