{{>blog/header}}
{{#isAdmin}}
    <script>
        var isAdmin = true,
                post = {{{postEncoded}}};
    </script>
{{/isAdmin}}
{{#post}}
    <h1>{{title}}</h1>
    {{#subtitle}}
        <h2>{{subtitle}}</h2>
    {{/subtitle}}
    {{>blog/social-buttons}}
    <h3>Posted By {{creatorInfo.displayName}} <span class="moment">{{created}}</span></h3>
    <div class="row">
        <div class="col-md-9">
            <div class="post-content">
                {{{content}}}
            </div>
            {{>blog/post-tags}}
        </div>
        <div class="col-md-3">
            {{>blog/search-widget}}
            {{#isAdmin}}
                <button class="btn btn-primary" id="edit-save-button">Edit</button>
            {{/isAdmin}}
        </div>
    </div>
    {{#isAdmin}}
        <script>
            var isEditing = false;
            $('#edit-save-button').on('click') {
                e.preventDefault();
                if (isEditing) {
                    $('#post-content').destroy();
                    isEditing = false;
                }
                else {
                    $('#post-content').summernote();
                    isEditing = true;
                }
            }
        </script>
    {{/isAdmin}}
{{/post}}
{{>blog/footer}}
