<article class="post-preview">
    <a href="/post/{{seo}}">
        <h2 class="post-title">{{title}}</h2>
        {{#subtitle}}
        <h3 class="post-subtitle">{{subtitle}}</h3>
        {{/subtitle}}
    </a>
    <p class="post-meta">Posted by <a href="/author/{{creatorInfo.userId}}/{{creatorInfo.displayName}}">{{creatorInfo.displayName}}</a>  <span class="moment">{{created}}</span></p>
    {{>blog/post-tags}}
    {{^last}}
    <hr>
    {{/last}}
</article>