<article class="post-preview">
    <a href="#">
    <h2 class="post-title">{{title}}</h2>
    {{#subtitle}}
        <h3 class="post-subtitle">{{subtitle}}</h3>
    {{/subtitle}}
    </a>
    <p class="post-meta">Posted by <a href="/author/{{creatorInfo.userId}}">{{creatorInfo.displayName}}</a> on {{createdInfo.date}}</p>
    {{^last}}
        <hr>
    {{/last}}
</article>